.doggo {
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   transition: 0.3s;
   border-bottom: 0mm;
   text-decoration-color: black;
   text-emphasis-color: black;
  }
  a {
    color: black;
  }
  .doggo:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 }
  
  .container {
    padding: 2px 2px;
    color: black;
    align-self: center;
 }
.dog-img{
  height: 75%;
}
img {
      padding-top: 10%;
      width:50%;
      height: auto;
      align-self: stretch;
  }
  #status {
    padding: 12px 0;
    color: rgb(0, 0, 0);
    background-color: rgb(37, 102, 104);
    text-align: center;
    cursor: pointer;
    width: device-width*100%;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
  }

 .footer {
  background: rgb(37, 102, 104);
  color: rgb(0, 0, 0);
  background-color: rgb(37, 102, 104);
  text-align: center;
  cursor: pointer;
  margin-bottom: 1vh;
  height: 15vh;
  color:#fff;
  position:relative;
  line-height:100%;
  padding:0 10px;
}
.footer:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

@media screen and (min-width: 321px) and (max-width: 500px) {
  .footer {
    background: rgb(37, 102, 104);
    color: rgb(0, 0, 0);
    text-align: center;
    cursor: pointer;
    margin-bottom: 0vh;
    height: 10vh;
    color:#fff;
    position:relative;
    line-height:100%;
    padding:0 0;
  }
  .dog-img{
    height: 15vh;
  }
  img {
        padding-top: 10%;
        width:60%;
        height: auto;
        align-self: stretch;
    }
}