.doggo {
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   transition: 0.3s;
   border-bottom: 0mm;
   text-decoration-color: black;
   text-emphasis-color: black;
  }
  a {
    color: black;
  }
  .doggo:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 }
  
  .container {
    padding: 2px 2px;
 }
.dog-img{
  height: 75%;
}
img {
    
      padding-top: 10%;
      width:50%;
      height: auto;
      align-self: stretch;

  }
  #status {
    padding: 12px 0;
    color: rgb(0, 0, 0);
    background-color: rgb(37, 102, 104);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
  }
 